<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-19 col-lg-9 col-xl-7">
                
                <p>Una estudiante de Ingeniería informática del Instituto universitario de la Paz - UNIPAZ de quinto semestre en la jornada de la nocturna.</p>
                <p>Realmente, este blog es una de las tantas practicas del aprendizaje que llevamos mis compañeros y yo en la materia de programación basada en componente aunque poco se redactar, esto nos lleva a retarnos cada día.</p>
                    <h2>MUCHAS GRACIAS POR LEERME☺</h2>
            </div>
        </div>
    </div>
</main>